[user]
	email = ben@tinfoilforest.nz
	name = lucidph3nx
	signingkey = /home/ben/.ssh/homelab_id_ed25519.pub
[credential]
	helper = store
[push]
	autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "https://github.com/rust-lang/crates.io-index"]
        insteadOf = https://github.com/rust-lang/crates.io-index
[protocol "file"]
	allow = always
[init]
	defaultBranch = main
[gpg]
	format = ssh
[commit]
	gpgsign = true
