@import "current-theme.css";

* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-size: 18px;
  font-weight: 500; 
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

window {
  font-family: JetBrainsMono Nerd Font, monospace;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 0px 0px 0px 0px;
}

#workspaces button.focused {
  background-color: @workspace-focus-background;
  color: @workspace-focus-foreground;
}

#workspaces button.urgent {
  background-color: @workspace-urgent-background;
  color: @workspace-urgent-foreground;
}

#workspaces button:hover {
  transition-duration: 0s;
  box-shadow: inherit;
  text-shadow: inherit;
  background: @workspace-hover-background;
  color: @workspace-hover-foreground;
}

#workspaces button {
  color: @foreground;
}

#scratchpad {
  background-color: @blue;
  color: #282c34;
  padding: 2px 5px;
}

#mode {
  padding-left: 10px;
  padding-right: 10px;
  background-color: @green;
  color: @background;
}

#mode > span {
  padding-right: 0px;
  padding-left: 0px;
}

#mpd {
  padding-right: 10px;
  padding-left: 10px;
}
/* hide when stopped */
#mpd.stopped {
    font-size: 0;
    margin: 0;
    padding: 0;
}
/* hide when disconnected */
#mpd.disconnected {
    font-size: 0;
    margin: 0;
    padding: 0;
}

widget > * {
    padding-top: 2px;
    padding-bottom: 2px;
}

.modules-left > widget:first-child > * {
  margin-left: 0px;
}

.modules-left > widget:last-child > * {
  margin-right: 18px;
}

.modules-right > widget > * {
  padding: 0 12px;
  margin-left: 0;
  margin-right: 0;
  color: @foreground-system;
  background-color: @background-system;
}

@keyframes blink {
  to {
    color: @green;
  }
}

#tray {
  background: @background-tray;
}

#pulseaudio {
    padding-right: 0px;
}

label:focus {
  background-color: @background;
}

tooltip {
  background: @background;
}

tooltip label {
  color: @green;
  text-shadow: none;
}

