:root {
    --tridactyl-theme-fg: #d3c6aa;
    --tridactyl-theme-red: #e67e80;
    --tridactyl-theme-orange: #e69875;
    --tridactyl-theme-yellow: #dbbc7f;
    --tridactyl-theme-green: #a7c080;
    --tridactyl-theme-aqua: #83c092;
    --tridactyl-theme-blue: #7fbbb3;
    --tridactyl-theme-purple: #d699b6;
    --tridactyl-theme-grey0: #7a8478;
    --tridactyl-theme-grey1: #859289;
    --tridactyl-theme-grey2: #9da9a0;
    --tridactyl-theme-statusline1: #a7c080;
    --tridactyl-theme-statusline2: #d3c6aa;
    --tridactyl-theme-statusline3: #e67e80;
    --tridactyl-theme-bg_dim: #232a2e;
    --tridactyl-theme-bg0: #2d353b;
    --tridactyl-theme-bg1: #343f44;
    --tridactyl-theme-bg2: #3d484d;
    --tridactyl-theme-bg3: #475258;
    --tridactyl-theme-bg4: #4f585e;
    --tridactyl-theme-bg5: #56635f;
    --tridactyl-theme-bg_visual: #543a48;
    --tridactyl-theme-bg_red: #514045;
    --tridactyl-theme-bg_green: #425047;
    --tridactyl-theme-bg_blue: #3a515d;
    --tridactyl-theme-bg_yellow: #4d4c43;

    --tridactyl-fg: var(--tridactyl-theme-fg);
    --tridactyl-bg: var(--tridactyl-theme-bg0);

    --tridactyl-scrollbar-color: var(--tridactyl-theme-grey0)
        var(--tridactyl-fg);

    --tridactyl-cmdl-fg: var(--tridactyl-theme-fg);
    --tridactyl-cmdl-bg: var(--tridactyl-theme-bg0);

    --tridactyl-header-first-bg: var(--tridactyl-theme-bg1);
    --tridactyl-header-second-bg: var(--tridactyl-theme-bg1);
    --tridactyl-header-third-bg: var(--tridactyl-theme-bg1);

    --tridactyl-cmplt-border-top: 1px solid var(--tridactyl-theme-bg0);

    --tridactyl-url-fg: var(--tridactyl-theme-fg);
    --tridactyl-url-bg: var(--tridactyl-theme-bg0);

    --tridactyl-of-fg: var(--tridactyl-theme-green);
    --tridactyl-of-bg: var(--tridactyl-theme-bg1);

    --tridactyl-hintspan-font-family: JetBrainsMonoNerdFont, monospace;
    --tridactyl-hintspan-font-size: 14px;
    --tridactyl-hintspan-font-weight: bold;
    --tridactyl-hintspan-fg: var(--tridactyl-theme-fg);
    --tridactyl-hintspan-bg: var(--tridactyl-theme-bg_blue);

    --tridactyl-hint-active-fg: var(--tridactyl-theme-fg);
    --tridactyl-hint-active-bg: rgba(167, 192, 128, 0.5);
    --tridactyl-hint-active-outline: 1px solid var(--tridactyl-theme-bg_green);

    --tridactyl-hint-bg: rgba(58, 81, 93, 0.25);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-theme-bg_blue);

    --tridactyl-highlight-box-bg: var(--tridactyl-theme-bg0);
    --tridactyl-highlight-box-fg: var(--tridactyl-theme-fg);

}

:root .TridactylStatusIndicator {
  border-radius: 0px !important;
  padding: 8px !important;
  text-align: center !important;
  font-size: 14px !important;
  font-weight: bold !important;
  width: 70px !important;
}

:root.TridactylOwnNamespace a {
  color: var(--tridactyl-theme-green)
}
