* {
  accentcolorgreen: #98c379;
  accentcolormegenta: #c678dd;
  accentcolorblue: #61afef;
  backgroundcolor: #282C34;
  foregroundcolor: #abb2bf;
  selectionbackground: #4d515d;
  selectionforeground: #ffffff;
}
