[Desktop Entry]
Version=1.0
Type=Application
Name=Calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
TryExec=calibre
Exec=env QT_QPA_PLATFORM="xcb" calibre --detach %U
Icon=calibre-gui
Categories=Office;
X-GNOME-UsesNotifications=true
MimeType=application/oebps-package+xml;application/x-cb7;application/x-sony-bbeb;application/x-mobi8-ebook;application/epub+zip;application/x-cbr;application/vnd.ctc-posml;application/x-mobipocket-ebook;application/x-cbz;application/x-cbc;image/vnd.djvu;application/ereader;application/x-mobipocket-subscription;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;x-scheme-handler/calibre;
