[Desktop Entry]
Type=Application
Name=Shopping List Notion
Exec=firefox -new-tab "https://www.notion.so/ph3nx/Shopping-List-92d98ac3dc86460285a399c0b1176fc5"
Icon=notion
Terminal=false
StartupNotify=true
