[Desktop Entry]
Type=Application
Name=Microsoft Teams for Linux
Comment=Unofficial Microsoft Teams client for Linux.
GenericName=Teams
Exec=teams-for-linux --spellCheckerLanguages='en-NZ' %U
Icon=teams
MimeType=x-scheme-handler/msteams;
Categories=Network;Chat;InstantMessaging;Application;
Terminal=false
StartupNotify=true
Version=0.1.9
